<div id="display-spectacles">
    <!-- below the display of spectacles. Same as the ones in search by theater. -->
    {% if spectaclesOfTheDay is empty %}
        <div  class="row row-striped bg-white">
            <p>Pas de spectacles ce jour-là</p>
        </div>
    {% endif %}
    {% for spectacle in spectaclesOfTheDay%}

        <div  class="row row-striped bg-white">
            <div class="col-2 text-right">

                <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle">{{ spectacle.dateShow | date('d')}}</span></h1>
                <h2 class="month-display">{{ spectacle.dateShow | date('M')}}</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase titleShow"><strong>{{ spectacle.showId.title }}
                    </strong></h3>
                <img class="img-thumbnail" style="height: 10em; display: inline; float:right" src="{{ spectacle
                .showId.theater.logo }}">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('D') }}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                    </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ spectacle.showId.theater.name }}  </li>
                </ul>
                <p class="description">{{ spectacle.showId.description }}</p>
            </div>


        </div>
    {% endfor %}
    <div class="row bg-white" id="plus-button">
        <div class="col-1 offset-1 ">
            <div style="height: 20px" onfocus="nextDay('{{ path('async_calendarPlusOne', {"day" : today |
                date_modify('+ 1 day') | date('Y-m-d')
            }) }}')"></div>
        </div>
    </div>

</div>
