<div id="display-spectacles" class="bg-white">
    <!-- below the display of spectacles. Same as the ones in search by theater. -->
    {% if spectaclesOfTheDay is empty %}

        <p>Pas de spectacles ce jour-là</p>

    {% endif %}

    {% for spectacle in spectaclesOfTheDay%}
        <div class="row row-striped ">

            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary day-figure"
                    id="dayNumberSpectacle">{{
                        spectacle.dateShow | date('d')}}</span></h1>
                <h2 class="month-display">{{ spectacle.dateShow | date('M')}}</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>{{ spectacle.showId.title }}
                    </strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('D') }}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                    </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ spectacle.showId.theater.name }}</li>
                </ul>
                <p>{{ spectacle.showId.description }}</p>
            </div>
        </div>


    {% endfor %}

</div>