



<!-- the row below manages the date carousel. date_modify takes the "+X day" as parameter. Related JS and css in specific files. -->
<div class="row justify-content-center bg-white p-5">
    <div class="col-7">
        <ul class="bxslider">

            <!-- display today's date and focus it with the active class -->
            <a onclick="changeDate('{{ path('async_calendar', {"day" : today | date('Y-m-d')}) }}')">
                <li class="month-day active" onclick="active(0)" id="day0">
                    <div class="week">{{ today | date('D') }}</div><div class="day-month">{{ today | date('d-M') }}</div>
                </li>
            </a>
            {% for oneDay in oneMoreDay %}

                <a onclick="changeDate('{{ path('async_calendar', {"day" : today | date_modify(oneDay) | date('Y-m-d')
                }) }}')">

                    <li class="month-day" onclick="active({{ loop.index }})" id="day{{ loop.index }}">
                        <div class="week">{{ today | date_modify(oneDay) | date('D') }}</div><div class="day-month">{{ today | date_modify(oneDay)  | date('d-M') }}</div>
                    </li>

                </a>

            {% endfor %}

        </ul>

    </div>
    <div class="col-2">
        <button id="datePicker"><i class="far fa-calendar-plus d-inline-block fa-5x"></i></button>
    </div>
    <div class="col-4 d-none" id="calendarDatePicker">

        <form method="post" action="">

            <div class="datepicker-here" data-language='fr'></div>

        </form>

    </div>

</div>


<!-- Div dedicated to ajax new spectacle -->
<div id="newSpectacles">

</div>


<div id="display-spectacles">
    <!-- below the display of spectacles. Same as the ones in search by theater. -->
    {% if spectaclesOfTheDay is empty %}
        <div  class="row row-striped bg-white">
            <p>Pas de spectacles ce jour-là</p>
        </div>
    {% endif %}
    {% for spectacle in spectaclesOfTheDay%}

        <div  class="row row-striped bg-white">
            <div class="col-2 text-right">

                <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle">{{ spectacle.dateShow | date('d')}}</span></h1>
                <h2 class="month-display">{{ spectacle.dateShow | date('M')}}</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>{{ spectacle.showId.title }}
                    </strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('D') }}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                        {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                    </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                        {{ spectacle.showId.theater.name }}</li>
                </ul>
                <p>{{ spectacle.showId.description }}</p>
            </div>


        </div>
    {% endfor %}
    <div class="row bg-white" id="plus-button">
        <div class="col-1 offset-1 ">
            <i class="fas fa-plus-circle fa-5x" onclick="nextDay('{{ path('async_calendarPlusOne', {"day" : today |
                date_modify('+ 1 day') | date('Y-m-d')
            }) }}')"></i>
        </div>
    </div>

</div>
    <div id="spectaclesNextDay" class="row row-striped bg-white">

    </div>

    {% block javascripts %}

    {% endblock %}
