{% extends '/basePage.html.twig' %}

{% block stylesheet %}

{% endblock %}

{% block body %}


    <div id="presentation_spectacle">
    </div>
    <div class="container bg-custom">

        <h1 class="h1">La programmation Balise</h1>
        <h4 class="h4">Saison {{ period| date('Y') }} - {{ period |date_modify('+1 year ')| date('Y') }}</h4>


        <div class="row p-4 border-top border-bottom bg-light">
            <div class="col-12">
                <h4 class="text-center monthMobile">{{ today | date('M') }}</h4>
            </div>
            <div class="col-12 col-md-7">
                <ul class="bxslider">

                    <!-- display today's date and focus it with the active class -->

                    <a class="calendarBox" onclick="changeDate('{{ path('async_calendar', {"day" : today | date('Y-m-d')})
                    }}')">
                        <li class="month-day active" onclick="active(0)" id="day0">
                            <div class="week calendarLarge">{{ today | date('D') |localizeddate('full', 'none', 'fr')
                                }}</div><div
                                    class="day-month
                            calendarLarge">{{ today | date
                                    ('d-M')
                                }}</div>
                            <div class="day-month calendarMobile">{{ today | date('d') }}</div>
                        </li>
                    </a>
                    {% for oneDay in oneMoreDay %}

                        <a class="calendarBox" onclick="changeDate('{{ path('async_calendar', {"day" : today |
                            date_modify(oneDay) | date('Y-m-d')
                        }) }}')">

                            <li class="month-day" onclick="active({{ loop.index }})" id="day{{ loop.index }}">
                                <div class="week calendarLarge">{{ today | date_modify(oneDay) | date('D') }}</div><div
                                        class="day-month calendarLarge">{{ today | date_modify(oneDay)  | date('d-M') }}</div>
                                <div class="day-month calendarMobile">{{ today | date_modify(oneDay) | date('d') }}</div>
                            </li>

                        </a>

                    {% endfor %}

                </ul>
            </div>
            <div class="col-12 col-md-3">
                <form method="post">

                    <div class="form-group row justify-content-center">
                        <div class="col-12 m-2">
                            <input class="form-control" type="date" name ="picked_date" value="" id="example-date-input">
                        </div>
                        <div class="col-12 m-2">
                            <button class="calendarButton" type="submit" value="{{ today | date ('m-d-Y') }}"
                                    id="example-date-input">Rechercher par date</button>
                        </div>


                    </div>

                </form>
            </div>
        </div>
        <hr class="hr-dark">
        <!-- Div dedicated to ajax new spectacle -->
        <div id="newSpectacles">

        </div>


        <div id="display-spectacles">
            <!-- below the display of spectacles. Same as the ones in search by theater. -->
            <h4 class="h4">Au programme du {{ today | date('d M') }} au {{ today | date_modify('+5 days') | date('d M')
                }}</h4>


            {% for spectacle in spectaclesOfTheDay%}

                <div  class="row row-striped border-bottom p-4" data-aos="{{ loop.index != 1 ? 'zoom-in': ' ' }}">
                    <div class="col-12 col-md-1 text-right" >

                        <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle">{{
                                spectacle.dateShow | date('d')}}</span></h1>
                        <h4 class="h4">{{ spectacle.dateShow | date('M')}}</h4>
                    </div>
                    <div class="col-md-5">
                        <a href="{{ path('detailSpectacle', {"id": spectacle.showId.id}) }}" target="_blank">
                            <h3 class="text-uppercase show-title">
                                <strong>{{ spectacle.showId.title }}</strong></h3></a>
                        <img class="img" src="{{ spectacle.showId.image }}">
                    </div>
                    <div class="col-12 col-md-5">

                        <ul class="list-inline">
                            <li class="list-inline-item show-info"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                {{ spectacle.dateShow | date('D') }}
                                {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                            </li>

                            <li class="list-inline-item calendarLink">
                                <a href="{{ path('map2') }}?theater=theater{{ spectacle.showId.theater.id }}"><i class="fa fa-location-arrow" aia-hidden="true"></i></a>
                                <a href="{{ path('theater_show_visitors', {id:spectacle.showId.theater.id}) }}" class="calendarLink">
                                    {{ spectacle.showId.theater.name }}</a>
                            </li>

                        </ul>

                        <p class="description">{{ spectacle.showId.description | truncate(400) }}
                            <a onclick="detailsSpectacles('{{ path('detailSpectacle', {"id": spectacle.showId.id})
                            }}')" class="calendarLink">Voir plus</a>
                        </p>

                        <a href="https://54yzsyel.mapado.com/en/"><button class="calendarButton hvr-float-shadow">Offre
                                balise</button></a>


                    </div>

                </div>
            {% endfor %}
            <div class="row justify-content-center p-4" id="plus-button">
                <h4 class="h4 hvr-float-shadow more-date" onclick="nextDay('{{ path
                    ('async_calendarPlusOne', {"day" : today |
                        date_modify('+ 5 days') | date('Y-m-d')
                    }) }}')"><i class="fas fa-plus"></i> Ce mois </h4>
                <div class="col-1 offset-1 ">
                    <div ></div>
                </div>
            </div>

        </div>
        <div id="spectaclesNextDay" class="row row-striped">

        </div>







    </div>
{% endblock %}

{% block javascripts %}

    <script>
        //Cette fonction gère l'affichage des spectacles quand on clique dans le calendrier carousel
        function changeDate(date, clickedPill) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newSpectacles = document.getElementById('newSpectacles');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;
                });

            let day=[];
            for(let i = 1; i <= 12; i++) {

                day[i] = document.getElementById('day'+i);
                day[i].classList.remove('active');
            }
            //puis on ajoute un design indiquant la case selectionné
            month[clickedPill].classList.add('active');
            console.log(month[clickedPill]);
        }

        function nextDay(date) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');

                    if(spectaclesNextDay.innerHTML !=null){
                        spectaclesNextDay.innerHTML = text;
                    }
                    else{
                        spectaclesNextDay.innerHTML = '';
                        spectaclesNextDay.innerHTML = text;
                    }
                });
        }


        function active(clickedPill) {
            //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
            let day=[];
            for(let i = 1; i <= 14; i++) {
                day[i] = document.getElementById('day'+i);
                day[i].classList.remove('active');
            }
            //puis on ajoute un design indiquant la case selectionné
            day[clickedPill].classList.add('active');
        }


        function detailsSpectacles(spectacle) {
            fetch(spectacle)
                .then(response => response.text())
                .then(text =>  {
                    let presentationSpectacle = document.getElementById('presentation_spectacle');


                    presentationSpectacle.style.transform = 'translateX(0%)';
                    presentationSpectacle.style.transition = '1000ms';
                    presentationSpectacle.style.display = 'block';
                    window.scrollTo({top : 0, behavior:"smooth"});

                    if(presentationSpectacle.innerHTML ==''){
                        presentationSpectacle.innerHTML = text;

                    }
                    else{
                        presentationSpectacle.innerHTML ='';
                        presentationSpectacle.innerHTML = text;


                    }
                });
        }

        function closeSpectacleWindow() {
            let presentationSpectacle = document.getElementById('presentation_spectacle');
            presentationSpectacle.style.transform = 'translateX(100%)';
            presentationSpectacle.style.transition = '1000ms';
            setTimeout(function (){
                presentationSpectacle.style.display = 'none'
            }, 1000);

        }

        function moreDates(dates) {
            fetch(dates)
                .then(response => response.text())
                .then(text =>  {
                    let moreDates = document.getElementById('moreDates');
                    if(moreDates.innerHTML != ''){
                        moreDates.innerHTML ='';
                    }
                    else{
                        moreDates.innerHTML =text;
                    }
                });
        }


    </script>

    </div>


{% endblock %}
