{% extends '/baseMap.html.twig' %}

{% block body %}
<div class="container-fluid bg-custom">
    <div class="row justify-content-center">
        <!-- Pills to select either a calendar per theater or per date from Bootstrap Website -->
        <ul class="nav nav-pills flex-column flex-sm-row nav-pills-calendar col-12" id="pills-tab" role="tablist">
            <li class="nav-item col-12 col-md-12 nav-pills-calendar">
                Votre prochain spectacle
            </li>
        </ul>
    </div>


    <div class="row justify-content-center bg-custom p-2">
        <div class="col-2">
            <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle"
                >{{ period.full | date('M-Y')}}</span></h1>

        </div>

        <div class="col-8">
            <p>
                Vous trouverez sur cette page tous les spectacles des théatres soutenus par Balises pour les prochains jours,
                semaines, ou mois...

            </p>
        </div>

    </div>
    <!-- the row below manages the date carousel. date_modify takes the "+X day" as parameter. Related JS and css in specific files. -->
    <div class="row justify-content-center bg-custom pt-5">

        <div class="col-3">
            <a onclick="changeDateToday('{{ path('async_calendar', {"day" : today | date('Y-m-d')}) }}')">
                <span class="d-inline-block timePill text-center activeTimePill">Aujourd'hui</span>
            </a>
            <a onclick="changeDate3days('{{ path('async_calendarPlusThreePills', {"day" : today | date('Y-m-d')}) }}')">
                <span class="d-inline-block timePill text-center">cette semaine</span>
            </a>
            <a onclick="changeDate1Week('{{ path('async_calendarPlusWeek', {"day" : today | date('Y-m-d')}) }}')">
                <span class="d-inline-block timePill text-center">ce mois</span>
            </a>
        </div>

    </div>

    <div class="row justify-content-center bg-custom pt-2 pb-5">
        <div class="col-5">
            <ul class="bxslider">

                <!-- display today's date and focus it with the active class -->
                <a class="calendarBox" onclick="changeDate('{{ path('async_calendar', {"day" : today | date('Y-m-d')})
                }}')">
                    <li class="month-day active" onclick="active(0)" id="day0">
                        <div class="week">{{ today | date('D') }}</div><div class="day-month">{{ today | date('d-M') }}</div>
                    </li>
                </a>
                {% for oneDay in oneMoreDay %}

                    <a class="calendarBox" onclick="changeDate('{{ path('async_calendar', {"day" : today |
                        date_modify(oneDay) | date('Y-m-d')
                    }) }}')">

                        <li class="month-day" onclick="active({{ loop.index }})" id="day{{ loop.index }}">
                            <div class="week">{{ today | date_modify(oneDay) | date('D') }}</div><div class="day-month">{{ today | date_modify(oneDay)  | date('d-M') }}</div>
                        </li>

                    </a>

                {% endfor %}

            </ul>

        </div>

        <div class="col-3" id="calendarDatePicker">

            <form name="dateForm" id="dateForm" method="post" action="">
                <div class="form-group">
                    <label for="picked_date">Rechercher par mois : </label>
                    <select id="picked_date" name="picked_date" class="custom-select">
                        <option value="-01-01">Janvier</option>
                        <option value="-02-01">Février</option>
                        <option value="-03-01">Mars</option>
                        <option value="-04-01">Avril</option>
                        <option value="-05-01">Mai</option>
                        <option value="-06-01">Juin</option>
                        <option value="-07-01">Juillet</option>
                        <option value="-08-01">Août</option>
                        <option value="-09-01">Septembre</option>
                        <option value="-10-01">Octobre</option>
                        <option value="-11-01">Novembre</option>
                        <option value="-12-01">Décembre</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="">ou par date: </label>
                    <input type="date" class="form-control-md">
                </div>
                <button type="submit" class="btn btn-outline-secondary">eeee</button>
            </form>
        </div>

    </div>




    <!-- Div dedicated to ajax new spectacle -->
    <div id="newSpectacles" class="bg-custom">

    </div>


    <div id="display-spectacles" class="bg-custom">
        <!-- below the display of spectacles. Same as the ones in search by theater. -->
        {% if spectaclesOfTheDay is empty %}
            <div  class="row justify-content-center bg-custom">
                <p class="text-danger">Pas de spectacles ce jour-là</p>
            </div>
        {% endif %}
        {% for spectacle in spectaclesOfTheDay%}

            <div  class="row row-striped bg-white">
                <div class="col-2 text-right">

                    <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle"
                                                >{{
                            spectacle.dateShow | date('d')}}</span></h1>
                    <h2 class="month-display">{{ spectacle.dateShow | date('M')}}</h2>
                </div>
                <div class="col-10">
                    <h3 class="text-uppercase"><strong>{{ spectacle.showId.title }}
                        </strong></h3>
                    <img class="img-thumbnail" src="{{ spectacle.showId.theater.logo }}" style="height: 10em;
                    display: inline; float:right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                            {{ spectacle.dateShow | date('D') }}</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                        </li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                            {{ spectacle.showId.theater.name }}  </li>
                    </ul>
                    <p description>{{ spectacle.showId.description }}</p>
                </div>


            </div>
        {% endfor %}
        <div class="row bg-custom" id="plus-button">
            <div class="col-1 offset-1 ">
                <div onscroll="nextDay('{{ path('async_calendarPlusOne', {"day" : today |
                    date_modify('+ 1 day') | date('Y-m-d')
                }) }}')"></div>
            </div>
        </div>

    </div>
    <div id="spectaclesNextDay" class="row row-striped bg-custom">

    </div>







</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
    <script>
        //Cette fonction gère l'affichage des spectacles quand on clique dans le calendrier carousel
        function changeDate(date) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newSpectacles = document.getElementById('newSpectacles');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';
                    console.log(newSpectacles);
                    newSpectacles.innerHTML = text;
                });
        }
        /*les 3 fonctions ci-dessous gèrent l'affichage des spectacles quand on clique sur les pills (aujourd'hui, 3
         jours, 1 semaine) */
        function changeDateToday(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[0].classList.add('activeTimePill');
                });
        }

        function changeDate3days(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[1].classList.add('activeTimePill');
                });
        }

        function changeDate1Week(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[2].classList.add('activeTimePill');
                });
        }

        function nextDay(date) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');

                    if(spectaclesNextDay.innerHTML !=null){
                        spectaclesNextDay.innerHTML = text;
                    }
                    else{
                        spectaclesNextDay.innerHTML = '';
                        spectaclesNextDay.innerHTML = text;
                    }
                });
        }


        function active(clickedPill) {
            //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
            let day=[];
            for(let i = 0; i< 14; i++) {

                day[i] = document.getElementById('day'+i);
                day[i].classList.remove('active');
            }
            //puis on ajoute un design indiquant la case selectionné
            day[clickedPill].classList.add('active');

        }


    </script>
{% endblock %}