{% extends '/base.html.twig' %}

{% block stylesheet %}
<style>


</style>
{% endblock %}

{% block body %}


<div class="container bg-custom h-100">

    <div class="row justify-content-center">

        <!-- Pills to select either a calendar per theater or per date from Bootstrap Website -->
        <ul class="nav nav-pills flex-column flex-sm-row nav-pills-calendar col-12" id="pills-tab" role="tablist">
            <li class="nav-item col-12 col-md-12 nav-pills-calendar">
                Votre prochain spectacle
            </li>
        </ul>
    </div>

        <h1 class="h1">La programmation Balise</h1>
        <h4 class="h4">Saison {{ period.year }}</h4>


    <div class="row p-4">
        {% for month in months %}
            <div class="col-1">

                <button class="calendarButton hvr-float-shadow" onclick="changeDate('{{ path('async_calendar', {"day"
                    : period.year ~ "-" ~ loop.index ~ "-01"})
                }}')">
                    {{ month }}</button>
            </div>
        {% endfor %}

    </div>
    <hr class="hr-dark">
    <!-- Div dedicated to ajax new spectacle -->
    <div id="newSpectacles">

    </div>


    <div id="display-spectacles">
        <!-- below the display of spectacles. Same as the ones in search by theater. -->
            <h4 class="h4">Au programme ce mois</h4>


        {% for spectacle in spectaclesOfTheDay%}

            <div  class="row row-striped border-bottom p-4">
                <div class="col-2 text-right">

                    <h1 class="display-4"><span class="badge badge-secondary day-figure" id="dayNumberSpectacle"
                                                >{{
                            spectacle.dateShow | date('d')}}</span></h1>
                    <h4 class="h4">{{ spectacle.dateShow | date('M')}}</h4>
                </div>
                <div class="col-8">
                    <h3 class="text-uppercase"><strong>{{ spectacle.showId.title }}
                        </strong></h3>
                    <img class="img-thumbnail" src="{{ spectacle.showId.theater.logo }}" style="height: 10em;
                    display: inline; float:right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                            {{ spectacle.dateShow | date('D') }}</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ spectacle.dateShow | date('d.m.Y à H:i') }} - {{ spectacle.dateShow |date_modify('+ 3 hours') | date('H:i')}}
                        </li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                            {{ spectacle.showId.theater.name }}  </li>
                    </ul>
                    <p description>{{ spectacle.showId.description }}</p>

                </div>
                <div class="col-2 m-auto">
                    <small>Tarif de base : {{ spectacle.showId.baseRate }}</small>
                    <button class="calendarButton hvr-float-shadow">Offre balise</button>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center p-4" id="plus-button">
            <h4 class="h4 hvr-float-shadow" style="opacity: 0.8; cursor: pointer;" onclick="nextDay('{{ path
                ('async_calendarPlusOne', {"day" : today |
                date_modify('+ 1 day') | date('Y-m-d')
            }) }}')"><i class="fas fa-plus"></i> Ce mois </h4>
            <div class="col-1 offset-1 ">
                <div ></div>
            </div>
        </div>

    </div>
    <div id="spectaclesNextDay" class="row row-striped">

    </div>







</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('calendar') }}
    <script>
        //Cette fonction gère l'affichage des spectacles quand on clique dans le calendrier carousel
        function changeDate(date) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newSpectacles = document.getElementById('newSpectacles');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';
                    console.log(newSpectacles);
                    newSpectacles.innerHTML = text;
                });
        }
        /*les 3 fonctions ci-dessous gèrent l'affichage des spectacles quand on clique sur les pills (aujourd'hui, 3
         jours, 1 semaine) */
        function changeDateToday(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[0].classList.add('activeTimePill');
                });
        }

        function changeDate3days(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[1].classList.add('activeTimePill');
                });
        }

        function changeDate1Week(date) {
            fetch(date)
                .then(response => response.text())
                .then(text => {
                    let displaySpectacles = document.getElementById('display-spectacles');
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');
                    let newsspectacleDisplay = document.getElementById('newSpectacles');
                    //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
                    let day=[];
                    for(let i = 0; i< 14; i++) {

                        day[i] = document.getElementById('day'+i);
                        day[i].classList.remove('active');
                    }
                    //puis on ajoute un design indiquant la case selectionné sur le premier jour ici
                    day[0].classList.add('active');

                    displaySpectacles.remove();

                    spectaclesNextDay.innerHTML ='';

                    newSpectacles.innerHTML = text;

                    let datePills = document.querySelectorAll('.timePill');

                    datePills.forEach(function (value, index, datePills) {
                        value.classList.remove('activeTimePill');
                    });
                    datePills[2].classList.add('activeTimePill');
                });
        }

        function nextDay(date) {
            fetch(date)
                .then(response => response.text())
                .then(text =>  {
                    let spectaclesNextDay = document.getElementById('spectaclesNextDay');

                    if(spectaclesNextDay.innerHTML !=null){
                        spectaclesNextDay.innerHTML = text;
                    }
                    else{
                        spectaclesNextDay.innerHTML = '';
                        spectaclesNextDay.innerHTML = text;
                    }
                });
        }


        function active(clickedPill) {
            //Remets toutes les cases dans le carousel en mode inactif, sans design particulier
            let day=[];
            for(let i = 0; i< 14; i++) {

                day[i] = document.getElementById('day'+i);
                day[i].classList.remove('active');
            }
            //puis on ajoute un design indiquant la case selectionné
            day[clickedPill].classList.add('active');

        }


    </script>

</div>
{% endblock %}
