
    <h1>Nom du Theatre</h1>
    <!-- https://bootsnipp.com/snippets/VgzeR -->

    {{ dump(theaters) }}
    {{ dump(spectacles) }}

    {% for spectacle in spectaclesOfTheDay%}
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-4"><span class="badge badge-secondary day-figure">{{ today |date('d') }}</span></h1>
                <h2>OCT</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase"><strong>{{ spectacle.title }}</strong></h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ today |date('D') }}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ today |date('H:i') }} - {{ today |date_modify('+ 3 hours') |date('H:i') }}</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ spectacle.theater.name }}</li>
                </ul>
                <p>{{ spectacle.description }}</p>
            </div>
        </div>
    {% endfor %}



