{% extends 'baseMap.html.twig' %}


{% block title %}BALISES{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />


{% endblock %}



{% block body %}


    <div id="presentation_spectacle">
    </div>

    <div class="popupCustom" id="map">
    </div>



    <div id="selectplacetitle" style="display: block">
        <img id="jumelles" style="max-width: 80px" src="{{ asset('uploads/jumelles.png') }}">
        <h1>SÉLECTIONNER<br>VOTRE <span>LIEU</span></h1>
    </div>



    <div id="logoonmap">
        <a href="{{ path('home') }}"><img src="http://www.balises-theatres.com/img/Logo_balises_rond.png"/></a>
    </div>



    <!-- Info Bulle -->

    {% for theater in theaters %}

        <div class="bulleInfo" id="theater{{ theater.id }}">
            <div class="container-fluid">
                <div class="row bulleinfo">



                    <div class="col-12">
                        <div class="jumbotron bulleInfo1">
                            <img src="{{ asset('uploads/'~ theater.logo )}}" alt="" style="max-height: 120px;display: block; margin-left: auto; margin-right: 5%; padding-bottom: 5%; margin-top: 1%">
                            <h1 style="color : Yellow; text-align: right; margin-right: 10%; line-height: 3%; font-size: 20px" class="display-4">{{ theater.name }}</h1>
                            <p class="lead" style="text-align: right; margin-right: 10%; font-size: 20px">{{ theater.address1 }}<br>{{  theater.zipcode }} {{ theater.city }}<br>{{ theater.phoneNumber }}</p>
                        </div>

                    </div>



                    <div class="col-12">
                        <div class="jumbotron bulleInfo3">
                            <a href="{{ theater.website }}" target="_blank" ><h1 style="color : Yellow; font-weight: bold" class="display-4">{{ theater.name }}</h1></a>

                            <hr style="background-color : white; text-align : center; line-height: 1;";>
                            <h3 style="color : white; font-weight: bold" >CHOIX DE VOTRE SPECTACLE</h3>

                            {% for spectacle in spectacles %}
                                {% if spectacle.theater == theater %}
                                    <a onclick="detailsSpectacles('{{ path('detailSpectacle', {"id": spectacle.id})
                                    }}')" for="checkbox" style="font-size: 20px; color:
                                    white; cursor: pointer">{{ spectacle.title
                                        }}</a>
                                    <p style="margin-top: 0%">{{ spectacle.distribution }}</p>


                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>



                </div>
            </div>
        </div>



    {% endfor %}




{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>


    <script>

        var getParams = function (url) {
            var params = {};
            var parser = document.createElement('a');
            parser.href = url;
            var query = parser.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                params[pair[0]] = decodeURIComponent(pair[1]);
            }
            return params;
        };


        // Gestion des spectacles par théâtre
        function showDates(showId) {
            let currentShow = document.getElementsByClassName('currentShow');
            if (currentShow.length === 1) {
                currentShow[0].style.display = 'none';
                currentShow[0].classList.remove('currentShow');
            }

            let showElt = document.getElementById(showId);
            showElt.style.display = 'block';
            showElt.classList.add('currentShow');
        }

        // On initialise la latitude et la longitude de Lyon (centre de la carte)
        let lat = 45.75;
        let lon = 4.85;
        let zoom = 12; // Zoom de la carte par défaut

        L.mapbox.accessToken = 'pk.eyJ1IjoiYmFsaXNlcyIsImEiOiJjandqZThmaXIwZzF5NDhvNWE0eWhxbThjIn0.L-XJu_ElG2aGqQx4ZijbIg';
        let map = L.mapbox.map('map')
            .setView([lat, lon], zoom)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/balises/cjwkvbvvf0b7i1cr4s3z4aqxk'));


        let customOptions =
            {
                'maxWidth': '100%',
                'width': '100%',
                'className' : 'popupCustom',
            };

        // Récupération coordonnées GPS dans tableau JS :
        let pointers =
            [
                {% for theater in theaters %}
                {
                    lat : '{{ theater.lat }}',
                    long : '{{ theater.longitude }}',
                    id : '{{ theater.id }}',
                },
                {% endfor %}
            ];


        for (let i = 0; i < pointers.length; i++)
        {
            let latitude = pointers[i].lat;
            let longitude = pointers[i].long;
            let pointerId = pointers[i].id;
            let elements = document.getElementById('theater'+ pointerId);
            let hideAction = document.getElementById('selectplacetitle');
            hideAction.style.display = "block";

            let marker = L.marker([latitude, longitude]).addTo(map);


            // Ouvrir bulle info lorsque clic sur marker
            marker.bindPopup(elements, customOptions);
            marker.addEventListener("click",function ()
            {
                elements.style.display = "block";
                hideAction.style.display = "none";
                map.setView([latitude, longitude]);

            });

            window.addEventListener("load", function()
            {
                let theaterIdForPointer = '{"theater":"theater' + pointerId + '"}'


                if (JSON.stringify(getParams(window.location.href)) == theaterIdForPointer)
                {

                    map.setView([latitude, longitude], 16);
                }

            });
        }



        // Fermer bulle info quand clic sur map
        map.addEventListener("click", function ()
        {
            let hideAction = document.getElementById('selectplacetitle');
            hideAction.style.display = "block";
            map.setView([latitude, longitude]);
        });




        // Recentrer carte quand clique sur titre
        let clickontitle = document.getElementById('selectplacetitle');
        clickontitle.addEventListener("click", function()
        {
            map.setView([lat, lon], zoom);
        })


        // Info Text "Recentrer la carte"
        let maintitle = "SÉLECTIONNER<br>VOTRE <span>LIEU</span>";
        let secondTitle = "CENTRER<br>LA <span>CARTE</span>";
        clickontitle.addEventListener("mouseover", function()
        {
            this.children[0].style.visibility ="hidden";
            this.children[1].innerHTML = secondTitle;
        })
        clickontitle.addEventListener("mouseout", function()
        {
            this.children[0].style.visibility ="visible";
            this.children[1].innerHTML = maintitle;
        })


        function detailsSpectacles(spectacle) {
            fetch(spectacle)
                .then(response => response.text())
                .then(text =>  {
                    let presentationSpectacle = document.getElementById('presentation_spectacle');


                    presentationSpectacle.style.transform = 'translateX(0%)';
                    presentationSpectacle.style.transition = '1000ms';
                    presentationSpectacle.style.display = 'block';
                    window.scrollTo({top : 0, behavior:"smooth"});

                    if(presentationSpectacle.innerHTML ==''){
                        presentationSpectacle.innerHTML = text;

                    }
                    else{
                        presentationSpectacle.innerHTML ='';
                        presentationSpectacle.innerHTML = text;


                    }
                });
        }

        function closeSpectacleWindow() {
            let presentationSpectacle = document.getElementById('presentation_spectacle');
            presentationSpectacle.style.transform = 'translateX(100%)';
            presentationSpectacle.style.transition = '1000ms';
            setTimeout(function (){
                presentationSpectacle.style.display = 'none'
            }, 1000);

        }

        function moreDates(dates) {
            fetch(dates)
                .then(response => response.text())
                .then(text =>  {
                    let moreDates = document.getElementById('moreDates');
                    if(moreDates.innerHTML != ''){
                        moreDates.innerHTML ='';
                    }
                    else{
                        moreDates.innerHTML =text;
                    }
                });
        }


    </script>


{% endblock %}