{% extends 'base.html.twig' %}
{% block title %}{{ spectacle.title }}{% endblock %}

{% block body %}
<div class="container bg-custom h-100">
<!--    <style>

        body
        {
            background-image: url({{ asset('/uploads/Balises_background.png') }});

            background-size: cover;

        }



        #background_opacity {
            position: fixed;
            z-index: -10;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: rgba(255, 236, 2, 0.85); /* L'opacite se regle ici */
        }



        #logoonmap
        {
            position: absolute;
            bottom: 10px;
            right: 2px;
            z-index: 1;
            transform: scale(0.7, 0.7);
        }


    </style>

-->


    <div id="background_opacity"></div>

    <div class="row m-auto justify-content-between">

        <div class="container-fluid">
            <h1 style="text-align: center;font-size: 50px; margin-top: 3%; margin-bottom: 5%">{{ spectacle.title }}</h1>

            <div class="row p-4">
                <div class="col-6" style="padding-left: 10%">
                    <h2>Description :</h2>
                    <p style="text-align: justify">{{ spectacle.description }}</p>

                    <h2>Distribution :</h2>
                    <p>{{ spectacle.distribution }}</p>
                </div>
                <div class="col-6" style="padding-right: 10%">
                    <img src="{{ spectacle.image }}" alt="" style="max-width: 600px; border-radius: 10px">
                    <p>Crédit photo : {{ spectacle.photoCredits }}</p>
                </div>
            </div>
            <div class="row p-4">
                <div id="logoonmap">
                    <a href="{{ path('home') }}"><img src="http://www.balises-theatres.com/img/Logo_balises_rond.png"/></a>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-12" style="padding-left: 10%">
                    <h2>Information complémentaire :</h2>
                    <p style="text-align: justify; padding-right: 10%">{{ spectacle.mandatoryInfos }}</p>
                </div>

                <div class="col-12" style="padding-left: 10%">
                    <input type="button" value="Commander" style="-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;width:200px; height: 50px; background-color: #171a1d; color: white; display: block; margin: auto; margin-top: 2%" OnClick="window.location.href="{{ spectacle.mapadoLink }}" />
                </div>
                <div class="col-12" style="padding-left: 10%">
                    <a style="color: black; display: block; text-align: center" href="javascript:window.close();">Fermer la fenêtre</a>
                </div>
            </div>

       </div>
    </div>


</div>

{% endblock %}


{% block javascripts %}

{% endblock %}

