{{ form_start(form) }}
<style>
    .sidenav {display: none;}
</style>
<div class = 'container'>
    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.title, 'Titre') }}
            {{ form_widget(form.title) }}
        </div>
        <div class="col-sm-4 espSaisie">
            {{ form_label(form.image, 'Photo') }}
            {{ form_widget(form.image, {'attr': {'class': 'hold','placeholder': 'format : png'}}) }}
            {{ form_help(form.image) }}
        </div>
        <div>
            <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ spectacle.image) }}" width="150"></img>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description) }}
        </div>

        <div class="col-sm-6">
            {{ form_label(form.distribution, 'Distribution') }}
            {{ form_widget(form.distribution) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.mandatoryInfos, 'Informations Légales') }}
            {{ form_widget(form.mandatoryInfos) }}
        </div>

        <div class="col-sm-6">
            {{ form_label(form.additionalInfos, 'Informations Complémentaires') }}
            {{ form_widget(form.additionalInfos) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            {{ form_label(form.photoCredits, 'Crédits Photos') }}
            {{ form_widget(form.photoCredits) }}
        </div>
        <div class="col-sm-6">
            {{ form_label(form.mapadoLink, 'Lien Mapado') }}
            {{ form_widget(form.mapadoLink) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            {{ form_label(form.baseRate, 'Plein Tarif') }}
            {{ form_widget(form.baseRate, {'attr': {'class': 'hold','placeholder': '99999.99'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {{ form_label(form.isBalise, 'Enregistrement Offres Balises') }}
            {{ form_widget(form.isBalise) }}
        </div>
        <div class="col-sm-2">
            {{ form_label(form.offerType, 'Choix : ') }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.offerType) }}
        </div>
    </div>
    <a type="button" href="{{ path('spectacle_index') }}"
       data-toggle="tooltip" data-placement="top"  title="Retour"
       class="btn btn-secondary mb-2"><i class="fas fa-reply"></i>
    </a>

    <button class="btn btn-secondary mb-2">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}


