{{ form_start(form) }}
<style>
    .sidenav {display: none;}
</style>
<div class = 'container'>
    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_row(form.title) }}
        </div>
        <div class="col-sm-4 espSaisie">
            {{ form_label(form.image, 'Photo') }}
            {{ form_widget(form.logo, {'attr': {'class': 'hold','placeholder': 'format : png'}}) }}
            {{ form_help(form.logo) }}
        </div>
        <div>
            <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ spectacle.image) }}"></img>
        </div>

    </div>
    {{ form_row(form.description) }}
    {{ form_row(form.distribution) }}
    {{ form_row(form.mandatoryInfos) }}
    {{ form_row(form.image) }}
    {{ form_row(form.photoCredits) }}
    {{ form_row(form.additionalInfos) }}
    {{ form_row(form.isBalise) }}
    {{ form_row(form.mapadoLink) }}
    {{ form_row(form.baseRate) }}


    {{ form_row(form.showDates.vars.prototype) }}


    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}


