{% extends is_granted('ROLE_ADMIN')
    ? 'base_admin.html.twig'
    : 'baseAdminTheater.html.twig' %}


{% block title %}Liste des Spectacles{% endblock %}

{% block body %}

    <div class="card justify-content-left p-0 w-100">

        <div class="row justify-content-center m-5">
            <h1>Liste des Spectacles</h1>
        </div>


        <div class="row justify-content-center">

                <div class="col-sm-3">
                    <a href="{{ path('theater_show',{'id' : theater.id} ) }}">
                        <button class="btn btn-secondary
                        mb-5">Retour
                        </button>
                    </a>
                </div>

            <div class="col-sm-3">
                <a href="{{ path('spectacle_new') }}">
                    <button class="btn btn-secondary mb-5">Nouveau Spectacle</button>
                </a>
            </div>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Enregistrement Balises</th>
                    <th>Type Offre</th>
                    <th>Plein Tarif</th>
                    <th class="text-center">actions</th>
                </tr>

                </thead>
                <tbody>
                {% for spectacle in spectacles %}
                    <tr>
                        <td>{{ spectacle.title }}</td>
                        <td>{{ spectacle.description | truncate(200) }}</td>

                        <td><img class="img-thumbnail" src="{{ spectacle.image }}" style="width: 500px;"></td>

                        <td>{{ spectacle.isBalise ? 'Oui' : 'Non' }}</td>
                        <td>{{ spectacle.offerType }}</td>

                        <td>{{ spectacle.baseRate }}</td>
                        <td>
                            <div class="row justify-content-center mb-1">
                                <div class="col-12">
                                    <a type="button" class="btn  btn-info btn-xs"
                                       href="{{ path('spectacle_show', {'id':spectacle.id}) }}"
                                       data-toggle="tooltip" data-placement="top" title="Détail"><i
                                                class="far fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-1">

                                <div class="col-12">
                                    <a type="button" class='btn btn-info btn-xs'
                                       href="{{ path('spectacle_edit', {'id': spectacle.id}) }}"
                                       data-toggle="tooltip" data-placement="top" title="Modification"><i
                                                class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">Pas de Spectacles</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
