{% extends 'base.html.twig' %}

{% block title %}Spectacle index{% endblock %}

{% block body %}
    <h1>Spectacle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Distribution</th>
                <th>MandatoryInfos</th>
                <th>Image</th>
                <th>PhotoCredits</th>
                <th>AdditionalInfos</th>
                <th>IsBalise</th>
                <th>OfferType</th>
                <th>MapadoLink</th>
                <th>BaseRate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spectacle in spectacles %}
            <tr>
                <td>{{ spectacle.id }}</td>
                <td>{{ spectacle.title }}</td>
                <td>{{ spectacle.description }}</td>
                <td>{{ spectacle.distribution }}</td>
                <td>{{ spectacle.mandatoryInfos }}</td>
                <td>{{ spectacle.image }}</td>
                <td>{{ spectacle.photoCredits }}</td>
                <td>{{ spectacle.additionalInfos }}</td>
                <td>{{ spectacle.isBalise ? 'Yes' : 'No' }}</td>
                <td>{{ spectacle.offerType }}</td>
                <td>{{ spectacle.mapadoLink }}</td>
                <td>{{ spectacle.baseRate }}</td>
                <td>
                    <a href="{{ path('spectacle_show', {'id': spectacle.id}) }}">show</a>
                    <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('spectacle_new') }}">Create new</a>
{% endblock %}
