{% extends 'base_admin.html.twig' %}

{% block title %}Liste des Spectacles{% endblock %}

{% block body %}
    <style>
        .sidenav {
            display: none;
        }
    </style>
    <div class="row justify-content-md-around mb-3">
    <h1>Liste des Spectacles</h1>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">

            {% if user.roles[0] == "ROLE_THEATER" %}
                <div class="col-sm-2">
                    <a href="{{ path('theater_show',{'id' : theater.id} ) }}">
                        <button class="btn btn-secondary mb-5">Retour</button>
                    </a>
                </div>
            {% endif %}
            <div class="col-sm-2">
                <a href="{{ path('spectacle_new') }}">
                    <button class="btn btn-secondary mb-5">Nouveau Spectacle</button>
                </a>
            </div>

        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
{#                <th>Description</th>#}
{#                <th>Distribution</th>#}
{#                <th>Informations Légales</th>#}
{#                <th>Image</th>#}
{#                <th>Crédits Photos</th>#}
{#                <th>Informations Complémentaires</th>#}
                <th>Enregistrement Balises</th>
                <th>Type Offre</th>
                <th>Tarif Base</th>
                <th class="text-center">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for spectacle in spectacles %}
                <tr>
                    <td>{{ spectacle.title }}</td>
{#                    <td>{{ spectacle.description }}</td>#}
{#                    <td>{{ spectacle.distribution }}</td>#}
{#                    <td>{{ spectacle.mandatoryInfos }}</td>#}
{#                    <td>{{ spectacle.image }}</td>#}
{#                    <td>{{ spectacle.photoCredits }}</td>#}
{#                    <td>{{ spectacle.additionalInfos }}</td>#}
                    <td>{{ spectacle.isBalise ? 'Yes' : 'No' }}</td>
                    <td>{{ spectacle.offerType }}</td>
                    <td>{{ spectacle.baseRate }}</td>
                    <td>
                        <div class="row justify-content-md-center">
                        <a href="{{ path('spectacle_show', {'id': spectacle.id}) }}">
                            <button class="btn btn-secondary mb-3">Visualisation</button>
                        </a>
                        <a href="{{ path('spectacle_edit', {'id': spectacle.id}) }}">
                            <button class="btn btn-secondary ml-2">Modification
                            </button>
                        </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Pas de Spectacles</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
