{{ form_start(form) }}
<style>
    .sidenav {display: none;}
</style>
<div class = 'container'>
    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.dateShow, 'Date') }}
            {{ form_widget(form.dateShow) }}
        </div>
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.showRate, 'Offre Balise') }}
            <div class="col-sm-6">
                {{ form_label(form.showRate.freePlacesNumber, 'Nombre Places Offertes') }}
                {{ form_widget(form.showRate.freePlacesNumber, {'attr': {'class': 'hold','placeholder': '99999'}}) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form.showRate.freePlacesNumber, 'Tarif Réduit') }}
                {{ form_widget(form.showRate.discountedRate, {'attr': {'class': 'hold','placeholder': '99999.99'}}) }}
            </div>
        </div>
    </div>

    <button class="btn btn-secondary mb-5">{{ button_label|default('Création') }}</button>
</div>
{{ form_end(form) }}
