{{ form_start(form) }}
<style>
    .sidenav {display: none;}
</style>
<div class = 'container'>
    <div class="row">
        <div class="col-sm-6 espSaisie">
            {{ form_label(form.dateShow, 'Date') }}
            {{ form_widget(form.dateShow) }}
        </div>
        {% if spectacle.isBalise %}
            <div class="col-sm-6 espSaisie">
                {{ form_label(form.showRate, 'Offre Choisie') }}
                {% if spectacle.offerType == 1 %}
                    <div class="col-sm-6">
                        {{ form_label(form.showRate.freePlacesNumber, 'Nombre Places Offertes') }}
                        {{ form_widget(form.showRate.freePlacesNumber, {'attr': {'class': 'hold','placeholder': '99999'}}) }}
                    </div>
                    <div class="col-sm-6 " style="display: none">
                        {{ form_label(form.showRate.freePlacesNumber, 'Tarif de Base') }}
                        {{ form_widget(form.showRate.discountedRate, {'attr': {'id': 'hold','placeholder': '99999.99'}}) }}
                    </div>
                {% endif %}
                {% if spectacle.offerType == 2 %}
                    <div class="col-sm-6">
                        {{ form_label(form.showRate.freePlacesNumber, 'Nombre Places') }}
                        {{ form_widget(form.showRate.freePlacesNumber, {'attr': {'class': 'hold','placeholder': '99999'}}) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_label(form.showRate.discountedRate, 'Tarif de Base') }}
                        <a id="reduit">{{ form_widget(form.showRate.discountedRate) }}</a>
                    </div>
                    <button id = "actualiser">Actualiser</button>
                    <table class="table table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col-sm-6 " >Prix cédé à Balises</th>
                            <th scope="col-sm-6 " >Prix Revente</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="row">

                                <tr style = "display:none">
                                    <td id = "CoeffReduit">{{ params.redistributedCoeff }}</td>
                                    <td id = "CoeffRevente">{{ params.resaleCoeff }}</td>

                                </tr>
                            <tr>
                                <td id="totalReduit"></td>
                                <td id="totalRev"></td>



                            </tr>


                        </div>
                        </tbody>
                    </table>
                {% endif %}

        {% endif %}
    </div>

    <button class="btn btn-secondary mb-5">{{ button_label|default('Création') }}</button>
</div>
{{ form_end(form) }}
{% block javascripts %}
<script type="text/javascript">

    // let reduit = document.getElementsByClassName("reduit");
    // let CoeffReduit = document.getElementById("CoeffReduit");
    // let CoeffRevente = document.getElementById("CoeffRevente");

    // let resultReduit = reduit * CoeffReduit;
    // let resultVente = reduit * CoeffRevente;


     let CoeffReduit = {{ params.redistributedCoeff | json_encode | raw }};
     let CoeffRevente = {{ params.resaleCoeff | json_encode | raw }};

     // console.log(CoeffReduit);
     // console.log(CoeffRevente);


     let finalprice = document.getElementById('show_date_showRate_discountedRate').value;
        finalprice = parseFloat(finalprice);

     let modif = document.getElementById('show_date_showRate_discountedRate');




        modif.addEventListener("change", function(){
            let price = document.getElementById('show_date_showRate_discountedRate').value;
            finalprice = parseFloat(price);

     });



    let actualiser = document.getElementById('actualiser');

        actualiser.addEventListener("click", function(event){
            let totalRev = finalprice * CoeffRevente;
            let totalReduit = finalprice * CoeffReduit;
            document.getElementById('totalRev').innerHTML=totalRev;
            document.getElementById('totalReduit').innerHTML=totalReduit;
            event.preventDefault();

    });










</script>

{% endblock %}
