{% extends 'base.html.twig' %}

{% block title %}ShowDate{% endblock %}

{% block body %}
    <h1>ShowDate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ show_date.id }}</td>
            </tr>
            <tr>
                <th>DateShow</th>
                <td>{{ show_date.dateShow ? show_date.dateShow|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('show_date_index') }}">back to list</a>

    <a href="{{ path('show_date_edit', {'id': show_date.id}) }}">edit</a>

    {{ include('show_date/_delete_form.html.twig') }}
{% endblock %}
