{{ form_start(form) }}


    <h2 class="text-center mb-3">Changement du mot de passe</h2>
    <div class="row justify-content-md-center mb-3">
        <div class="col-sm-4 espSaisie">
            {{ form_row(form.password.first) }}
        </div>
        <div class="col-sm-4 espSaisie">
            {{ form_row(form.password.second) }}
        </div>
    </div>
    <div class="row justify-content-md-center mb-3">
        <button class="btn btn-secondary">{{ button_label|default('Enregistrer') }}</button>
    </div>


{{ form_end(form) }}
