{% extends is_granted('ROLE_ADMIN')
    ? 'base_admin.html.twig'
    : 'basePage.html.twig' %}

{% block title %}Theater{% endblock %}

{% block body %}
    <style>
        .sidenav {
            display: none;
        }
    </style>
    <div class="card card-edit-new w-100 container p-0">

    <div class="container">

            <div class="row justify-content-center m-5">
                <h1>{{ theater.name }}</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ theater.logo) }}" width="150" alt="">
                </div>
                <div class="col-sm-6">
                    {% if is_granted('ROLE_ADMIN') %}
                        <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ theater.picture) }}"
                             width="250" alt="">
                    {% else %}
                        <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ theater.picture) }}" alt="">
                    {% endif %}
                </div>
            </div>

            <table class="table">
                <tbody>
                {#
                <tr>
                    <th>Id</th>
                    <td>{{ theater.id }}</td>
                </tr>

                <tr>
                    <th>Nom</th>
                    <td>{{ theater.name }}</td>
                </tr>
                 #}
                <tr>
                    <th>Email</th>
                    <td>{{ theater.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ theater.address1 }}</td>
                </tr>
                <tr>
                    <th>Complément Adresse</th>
                    <td>{{ theater.address2 }}</td>
                </tr>
                <tr>
                    <th>Code Postal</th>
                    <td>{{ theater.zipCode }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ theater.city }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ theater.phoneNumber }}</td>
                </tr>
                {#
                <tr>
                    <th>Logo</th>
                    <td>{{ theater.logo }}</td>

                </tr>#}
                <tr>
                    <th>Web Site</th>
                    <td>{{ theater.website }}</td>
                </tr>
                <tr>
                    <th>Plein Tarif</th>
                    <td>{{ theater.baseRate }}</td>
                </tr>
                <tr>
                    {#  <th>Latitude</th>
                      <td>{{ theater.baseRate }}</td>
                  </tr>
                  <tr>
                      <th>Longitude</th>
                      <td>{{ theater.baseRate }}</td>
                  </tr>#}
                </tbody>
            </table>
            <div class="row justify-content-md-around">
                {% if user.roles[0] == "ROLE_THEATER" %}
                    <div class="col-md-4">
                        <a href="{{ path('spectacle_index') }}">
                            <button class="btn btn-secondary mb-5">Liste Spectacles</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('spectacle_new') }}">
                            <button class="btn btn-secondary mb-5">Nouveau Spectacle</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('theater_edit', {'id': theater.id}) }}">
                            <button class="btn btn-secondary mb-5">Modification</button>
                        </a>
                    </div>
                {% endif %}
                {% if user.roles[0] == "ROLE_ADMIN" %}

                    <div class="col-md-4">
                        <a href="{{ path('theater_edit', {'id': theater.id}) }}">
                            <button class="btn btn-secondary mb-5">Modification</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path('user_index') }}">
                            <button class="btn btn-secondary mb-5">Liste Théâtres</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
