{% extends 'base.html.twig' %}

{% block title %}Theater{% endblock %}

{% block body %}
    <style>
        .sidenav {display: none;}
    </style>
    <h1>Visualisation d'un Théâtre</h1>

    <div class = 'container'>
        <div class="row">
            <div class="col-sm-6 espSaisie">

                {{ theater.name }}
            </div>

            <div>
                <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ theater.logo) }}"></img>
            </div>


        </div>
        <div class="row">
            <div class="col-sm-6 espSaisie">

                {{ theater.address1 }}
            </div>

            <div class="col-sm-6">

                {{ theater.address2 }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 espSaisie">
                {{ theater.zipCode }}

            </div>

            <div class="col-sm-6 espSaisie">
                {{ theater.city }}

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 espSaisie">

                {{theater.phoneNumber }}
            </div>
            <div class="col-sm-6" >

                {{ theater.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 espSaisie">
                {{ theater.website }}
            </div>

            <div>
                <img class="img_logo img-thumbnail" src="{{ asset('uploads/' ~ theater.picture) }}"></img>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-2">
                {{ theater.lat }}

            </div>
            <div class="col-sm-2">
                {{ theater.longitude }}

            </div>
            <div class="col-sm-2">
                {{ theater.baseRate }}

            </div>

        </div>

        <a href="{{ path('spectacle_new') }}"><button class="btn btn-dark mb-5">Create new Spectacle</button> </a>

        <!--<a href="{{ path('theater_index') }}"><button class="btn btn-dark mb-5">Retour à la liste</button> </a>-->

    </div>

{% endblock %}
