{% extends 'base_admin.html.twig' %}

{% block title %}Theater{% endblock %}

{% block body %}
    <style>
        .sidenav {display: none;}
    </style>
    <h1>Visualisation d'un Théâtre</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ theater.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ theater.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ theater.address1 }}</td>
            </tr>
            <tr>
                <th>Complément Adresse</th>
                <td>{{ theater.address2 }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ theater.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ theater.city }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ theater.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ theater.logo }}</td>
            </tr>
            <tr>
                <th>Web Site</th>
                <td>{{ theater.website }}</td>
            </tr>
            <tr>
                <th>Tarif Base</th>
                <td>{{ theater.baseRate }}</td>
            </tr>
            <tr>
              {#  <th>Latitude</th>
                <td>{{ theater.baseRate }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ theater.baseRate }}</td>
            </tr>#}
        </tbody>
    </table>
    <div class="row justify-content-md-center">
        {% if user.roles[0] == "ROLE_THEATER" %}
            <div class="col-md-4">
                <a href="{{ path('spectacle_new') }}"><button class="btn btn-dark mb-5">Nouveau Spectacle</button> </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('theater_edit', {'id': theater.id}) }}"><button class="btn btn-dark mb-5">Modification</button></a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('spectacle_index') }}"><button class="btn btn-dark mb-5">Retour à la liste</button> </a>
            </div>
        {% endif %}
        {% if user.roles[0] == "ROLE_ADMIN" %}

            <div class="col-md-4">
                <a href="{{ path('theater_edit', {'id': theater.id}) }}"><button class="btn btn-dark mb-5">Modification</button></a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('theater_index') }}"><button class="btn btn-dark mb-5">Retour à la liste</button> </a>
            </div>
        {% endif %}

    </div>

{% endblock %}
