{% extends 'base_admin.html.twig' %}

{% block title %}Admin Edition Théâtre{% endblock %}

{% block body %}

    <div class="card card-edit-new w-100 container p-0">

            <div class="card-header d-flex w-100 justify-content-between">

                <h5 class="my-0 mx-2 py-2" >Edition : <span class="d-inline-block">{{ user.theater.name }}</span></h5>

                <div class="btn_edit_new_crud ">

                    <a type="button" href="#"
                        data-toggle="tooltip" data-placement="top"  title="Save" 
                        class="btn btn-success btn_save_edit"><i class="far fa-save"></i>
                    </a>

                    <a type="button" href="{{ path('user_index') }}"
                        data-toggle="tooltip" data-placement="top"  title="List" 
                        class="btn btn-info"><i class="far fa-list-alt"></i>
                    </a>

                    {% if is_granted('ROLE_ADMIN') %}

                        <a type="button" href="{{ path('user_new') }}" 
                            data-toggle="tooltip" data-placement="top"  title="Ajouter" 
                            class="btn btn-info"><i class="far fa-plus-square"></i>
                        </a>

                        {{ include('user/_delete_form.html.twig') }}
                    {% endif %}
                </div>
            </div>


            <div class="card-body p-3 ">
                    <table class="table table_show table-striped table-bordered table-hover">
                        <tbody>
                                {{ include('user/_form.html.twig') }}
                        </tbody>
                    </table>
            </div>{# Card body #}
        </div>{# Card #}

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

$(document).ready(function () {

    $('.btn_save_edit').on('click',function(e){
        $('.btn_save_form').click();
    });
});

</script>
{% endblock %}
