{% extends 'base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

<div class="row  row_user w-100  m-0">
        <table class="table table-striped table_user m-auto">

            <thead class="thead_user">
                    <div class="titre_user d-flex w-100 justify-content-between">
                        <h4 class="my-0 mx-2" >Liste des Théâtres</h4>
                        <a href="{{ path('user_new') }}" class=" btn btn-info  text-white"><b>+</b>Ajouter</a>
                    </div>

                    <tr>

                        <th class="col-md-3">
                            <a href="/user/email/down"><i class="fa fa-arrow-down text-dark" aria-hidden="true"></i></a>
                            <a href="/user/email/up"><i class="fa fa-arrow-up text-dark" aria-hidden="true"></i></a>
                            Email
                        </th>
                        <th class="col-md-3">
                            <a href="/user/zipCode/down"><i class="fa fa-arrow-down text-dark" aria-hidden="true"></i></a>
                            <a href="/user/zipCode/up"><i class="fa fa-arrow-up text-dark" aria-hidden="true"></i></a>
                            Code Postal
                        </th>
                        <th class="text-center col-md-4">Action</th>
                    </tr>
            </thead>

            {% for user in users %}
                <tr>
                    {% if user.roles[0]!="ROLE_ADMIN" %}

                        <td>{{ user.email }}</td>
                        <td>{{ user.theater.zipCode }}</td>
                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="#">
                                <span class="glyphicon glyphicon-edit"></span>
                                Edit
                            </a>
                            <a href="#" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove"></span>
                                Del
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
<div class="card w-100">
    <div class="card-header d-flex w-100 justify-content-between">
        <h4 class="my-0 mx-2" >Liste des Théâtres</h4>
        <a href="{{ path('user_new') }}" class="btn btn-info  text-white"><b>+</b>Ajouter</a>
    </div>
    <div class="card-body p-0">
            <table class="table table-striped table-bordered table-hover">
                    <thead class="text-center">
                            <tr >
                                <th class="col-3" >
                                    <a href="/user/index/name/down"><i class="fa fa-arrow-down text-dark" aria-hidden="true"></i></a>
                                    <a href="/user/index/name/up"><i class="fa fa-arrow-up text-dark" aria-hidden="true"></i></a>
                                    Théâtre
                                </th>
                                <th class="col-3">
                                    <a href="/user/index/email/down"><i class="fa fa-arrow-down text-dark" aria-hidden="true"></i></a>
                                    <a href="/user/index/email/up"><i class="fa fa-arrow-up text-dark" aria-hidden="true"></i></a>
                                    Email
                                </th>
                                <th class="col-3">
                                    <a href="/user/index/zipCode/down"><i class="fa fa-arrow-down text-dark" aria-hidden="true"></i></a>
                                    <a href="/user/index/zipCode/up"><i class="fa fa-arrow-up text-dark" aria-hidden="true"></i></a>
                                    Code Postal
                                </th>
                                <th class="th_action text-center">Action</th>
                            </tr>
                    </thead>

                    {% for user in users %}

                        <tr class="tr_index">
                            {% if user.roles[0]!="ROLE_ADMIN" %}
                                   <td class="text-center">{{ user.theater.name }}</td>
                                   <td class="text-center">{{ user.email }}</td>
                                   <td class="text-center">{{ user.theater.zipCode }}</td>
                                </a>

                                <td class="text-center">
                                    <a class='btn btn-info btn-xs m-1' href="{{ path('theater_show', {'id': user.id}) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Show
                                    </a>
                                    <a class='btn btn-info btn-xs' href="{{ path('theater_edit', {'id': user.theater.id}) }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        Edit
                                    </a>
                                    <a href="{{ path('user_delete', {'id': user.theater.id}) }}" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Del
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
>>>>>>> 73e1ed2bb51321454c45629e8769f97b6b5d20bc

                </table>
    </div>{# Card body #}
  </div>{# Card #}
{% endblock %}




