{% extends 'base_admin.html.twig' %}

{% block title %}Admin détail Théâtre{% endblock %}

{% block body %}
    <div class="card container p-0  w-100">

        <div class="card-header d-flex w-100 justify-content-between">
            <h4 class="my-0 mx-2 pt-1" >Détail du Théâtre : {{ user.theater.name }}</h4>
            <div class="btn_show_crud">
                <a href="{{ path('user_index') }}" class="btn btn-info">List</a>
                {% if is_granted('ROLE_ADMIN') %}                   
                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info">Edit</a>                  
                    {{ include('user/_delete_form.html.twig') }}                    
                {% endif %}
            </div>
        </div>


        <div class="card-body p-0">
                <table class="table table_show table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% if user.theaterName is  defined %}
                            <tr>
                                <th>Nom du Théâtre</th>
                                <td>{{ user.theaterName }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Password</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <td>{{ theater.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ theater.name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ theater.email }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ theater.address1 }}</td>
                        </tr>
                        <tr>
                            <th>Complément Adresse</th>
                            <td>{{ theater.address2 }}</td>
                        </tr>
                        <tr>
                            <th>Code Postal</th>
                            <td>{{ theater.zipCode }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ theater.city }}</td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td>{{ theater.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>Logo</th>
                            <td>{{ theater.logo }}</td>
                        </tr>
                        <tr>
                            <th>Web Site</th>
                            <td>{{ theater.website }}</td>
                        </tr>
                        <tr>
                            <th>Tarif Base</th>
                            <td>{{ theater.baseRate }}</td>
                        </tr>
                        <tr>
                            <th>Latitude</th>
                            <td>{{ theater.baseRate }}</td>
                        </tr>
                        <tr>
                            <th>Longitude</th>
                            <td>{{ theater.baseRate }}</td>
                        </tr>
                    </tbody>   
                </table>      
        </div>{# Card body #}
    </div>{# Card #}   
{% endblock %}
